# Rendering
public net.minecraft.client.gui.GuiGraphics guiRenderState
public net.minecraft.client.gui.GuiGraphics scissorStack
public net.minecraft.client.gui.GuiGraphics$ScissorStack
public-f net.minecraft.client.gui.render.state.GuiTextRenderState
public net.minecraft.client.gui.render.state.GuiTextRenderState preparedText
public net.minecraft.client.gui.render.state.GuiTextRenderState bounds
public net.minecraft.client.gui.Font$PreparedTextBuilder
public-f net.minecraft.client.gui.Font$PreparedTextBuilder getShadowColor(Lnet/minecraft/network/chat/Style;I)I
public net.minecraft.client.gui.Font$PreparedTextBuilder x
public net.minecraft.client.gui.Font$PreparedTextBuilder y
public net.minecraft.client.gui.Font$PreparedTextBuilder glyphs
public net.minecraft.client.gui.font.glyphs.BakedGlyph$GlyphInstance hasShadow()Z
public net.minecraft.client.gui.font.glyphs.BakedGlyph render(ZFFFLorg/joml/Matrix4f;Lcom/mojang/blaze3d/vertex/VertexConsumer;IZI)V
public net.minecraft.client.gui.Font$PreparedTextBuilder backgroundLeft
public net.minecraft.client.gui.Font$PreparedTextBuilder backgroundTop
public net.minecraft.client.gui.Font$PreparedTextBuilder backgroundRight
public net.minecraft.client.gui.Font$PreparedTextBuilder backgroundBottom
public net.minecraft.client.gui.Font$PreparedTextBuilder backgroundColor
public net.minecraft.client.gui.Font$PreparedTextBuilder effects

public net.minecraft.client.renderer.LevelRenderer targets
public net.minecraft.client.gui.Font filterFishyGlyphs
public net.minecraft.client.gui.Font getFontSet(Lnet/minecraft/resources/ResourceLocation;)Lnet/minecraft/client/gui/font/FontSet;

public net.minecraft.world.entity.animal.horse.AbstractHorse MIN_MOVEMENT_SPEED
public net.minecraft.world.entity.animal.horse.AbstractHorse MAX_MOVEMENT_SPEED
public net.minecraft.world.entity.animal.horse.AbstractHorse MIN_JUMP_STRENGTH
public net.minecraft.world.entity.animal.horse.AbstractHorse MAX_JUMP_STRENGTH
public net.minecraft.world.entity.animal.horse.AbstractHorse MIN_HEALTH
public net.minecraft.world.entity.animal.horse.AbstractHorse MAX_HEALTH