# HORSE STATS
public net.minecraft.world.entity.animal.equine.AbstractHorse MIN_HEALTH
public net.minecraft.world.entity.animal.equine.AbstractHorse MAX_HEALTH
public net.minecraft.world.entity.animal.equine.AbstractHorse MIN_MOVEMENT_SPEED
public net.minecraft.world.entity.animal.equine.AbstractHorse MAX_MOVEMENT_SPEED
public net.minecraft.world.entity.animal.equine.AbstractHorse MIN_JUMP_STRENGTH
public net.minecraft.world.entity.animal.equine.AbstractHorse MAX_JUMP_STRENGTH

# GUI RENDERING
public net.minecraft.client.renderer.state.gui.GuiTextRenderState preparedText
public net.minecraft.client.gui.Font$PreparedTextBuilder <init>(Lnet/minecraft/client/gui/Font;FFIIZZ)V
public net.minecraft.client.gui.Font getGlyph(ILnet/minecraft/network/chat/Style;)Lnet/minecraft/client/gui/font/glyphs/BakedGlyph;
public net.minecraft.client.renderer.state.gui.GuiTextRenderState bounds
public-f net.minecraft.client.renderer.state.gui.GuiTextRenderState
public net.minecraft.client.gui.Font$PreparedTextBuilder
public net.minecraft.client.gui.Font provider
public net.minecraft.client.gui.Font$PreparedTextBuilder glyphs
public net.minecraft.client.gui.Font$PreparedTextBuilder effects
public net.minecraft.client.gui.Font$PreparedTextBuilder backgroundLeft
public net.minecraft.client.gui.Font$PreparedTextBuilder backgroundTop
public net.minecraft.client.gui.Font$PreparedTextBuilder backgroundRight
public net.minecraft.client.gui.Font$PreparedTextBuilder backgroundBottom
public-f net.minecraft.client.gui.Font$PreparedTextBuilder x
public-f net.minecraft.client.gui.Font$PreparedTextBuilder y
public net.minecraft.client.gui.Font$PreparedTextBuilder backgroundColor
public net.minecraft.client.gui.Font$PreparedTextBuilder getShadowColor(Lnet/minecraft/network/chat/Style;I)I
public net.minecraft.client.gui.GuiGraphicsExtractor scissorStack
public net.minecraft.client.gui.GuiGraphicsExtractor guiRenderState
public net.minecraft.client.gui.GuiGraphicsExtractor$ScissorStack
public net.minecraft.client.gui.font.glyphs.BakedSheetGlyph$GlyphInstance
public net.minecraft.client.gui.font.glyphs.BakedSheetGlyph$GlyphInstance <init>(FFIILnet/minecraft/client/gui/font/glyphs/BakedSheetGlyph;Lnet/minecraft/network/chat/Style;FF)V
public net.minecraft.client.renderer.feature.RenderTypeFeatureRenderer getVertexBuilder(Lnet/minecraft/client/renderer/rendertype/RenderType;)Lcom/mojang/blaze3d/vertex/VertexConsumer;
public net.minecraft.client.gui.Font$PreparedTextBuilder emptyAreas